<html>

<head>
    <Title> Concepts Tracker </Title>
    <style>
     
        /* Apply Linen color for the full body
        */
    </style>
    <link rel="stylesheet" href="extcss.css">
</head>

<body>
    <h1 style="color:blue;text-align:center;"> Concepts to be discussed </h1>
    <hr style="border-style: double;border-style: dashed; border-color: red;">
    <h2 style="color:blue;"> Development concepts </h1>
        <div class="div1">
            HTML APIs <input type="checkbox" name="API" /><br>
            HTML Methods <input type="checkbox" name="Methods" /><br>
            DOM <input type="checkbox" name="DOM" /><br>
            BOM <input type="checkbox" name="BOM" /><br>
            Responsive Design Concepts <input type="checkbox" name="Responsive" /><br>
            iFrames <input type="checkbox" name="iFrames" /><br>
        </div>

        <hr class="hrbk"/>
        <h2 style="color:blue;"> Non-functional requirements </h1>
            <div class="div2">
                Session management <br>
                &nbsp;&nbsp; Refresh <input type="checkbox" name="Refresh" /><br>
                &nbsp;&nbsp; Timeout <input type="checkbox" name="Timeout" /><br>
                &nbsp;&nbsp; Multiple <input type="checkbox" name="Multiple" /><br>
                Security and Authentication <input type="checkbox" name="Security" /><br>
                &nbsp;&nbsp; Oauth <input type="checkbox" name="Refresh" /><br>
                Performance improvement techniques <input type="checkbox" name="Perform" /><br>
                &nbsp;&nbsp; Lazyloading <input type="checkbox" name="Loading" /><br>
                &nbsp;&nbsp; Affinity <input type="checkbox" name="Affinity" /><br>
                &nbsp;&nbsp; Caching <input type="checkbox" name="Caching" /><br>
            </div>
                
            <hr style="border-style: double;border-style: dashed; border-color: red;">
            <h2 style="color:blue;"> Front-End industry landscape </h1>
                <div class="div3">
                    Overall web design Landscape <input type="checkbox" name="Landscape" /><br>
                </div>
               
                <hr style="border-style: double;border-style: dashed; border-color: red;">
                <h2 style="color:blue;"> Testing and debugging </h1>
                    <div class="div4">
                        Navigating vs-code features <input type="checkbox" name="vs-code" /><br>
                        Code compiling and debugging using VS Code and deployment <input type="checkbox"
                            name="debug" /><br>
                        Postman - Troubleshooting <input type="checkbox" name="Postman" /><br>
                        Browser testing <input type="checkbox" name="Browtest" /><br>
                    </div>
</body>

</html>