<html>

<body>
    <form>
        Username: <input type="text" name="Username" />
        <br>
        Password: <input type="password" name="password" />
        <br><br>
        <input type="submit" name="submit" value="Submit" />
        <input type="reset" name="reset" value="Reset" />

    </form>
    <div>
    <input type="text" name="Username-1" />
    <input type="submit" name="submit-1" value="Submit" />
</div>
    <div>
        <input type = "radio" name = "HTML" value = "HTML"> HTML
         <input type = "radio" name = "HTML" value = “CSS”> CSS
         <input type = "radio" name = "HTML" value = "JS"> JavaScript
    </div>
    <div>
        <marquee direction = "left">This text will scroll from left to right</marquee> 
    </div>
    <div>
        <ul> 
            <li>Apple</li> 
            <li>Banana</li> 
            <li>Mango</li> 
            <li>Strawberry</li> 
          </ul> 
          <div> 
            <div>Apple</div> 
            <div>Banana</div> 
            <div>Mango</div> 
            <div>Strawberry</div> 
          </div> 
                
    </div>


</body>







</html>